*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header*/
header {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #212121;
    align-items: center;
    justify-content: center;
}


#imagem-header{
    width: 140px;
    height: 140px;
    justify-content: center;
    align-items: center;
}

.navegacao ul{
    display: flex;

}

.navegacao li {
    margin: 10px 25px;
    font-size: 20px;
}

.navegacao a{
    color: #e6e6e6;
    text-decoration: none;
}


/* main */
main {
    width: 100%;
    padding: 20px 0;
    height: 700px;
    display: flex;
    justify-content: center;
    background-color: #e6e6e6;
    align-items: center;
}


.section-form{
    width: 50vw;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 80%;
    background-color: #212121;
    border-radius: 10px;
    color: #e6e6e6;
}

label{
    display: block;
    margin-top: 20px;
}

#form-cadastro-quarto{
    width: 45vw;
    padding: 20px 30px;;
}

#form-cadastro-quarto>input{

    margin-bottom: 8px;
    padding: 10px 5px;
    outline: none;
    border-radius: 10px;
    border: 1px black solid;
}

#tipos-quartos{
    display: block;
    margin-bottom: 8px;
    padding: 10px 5px;
    outline: none;
    border-radius: 10px;
    border: 1px black solid;
    width: 20%;
    text-align: center;
}

#input-nome{
    width: 75%;
    text-align: center;
}

#input-numero{
    width: 20%;
    text-align: center;
}

.botoes-quarto{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#btn-cadastro{
    width: 45%;
    background-color: #931112;
    padding: 16px 0px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 8px;
    letter-spacing: 3px;
    font-weight: 800;
    text-transform: uppercase;
    border: none;
}
#btn-cancelar{
    width: 11vw;
    background-color: #931112;
    padding: 16px 0px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 8px;
    letter-spacing: 3px;
    font-weight: 800;
    text-transform: uppercase;
    border: none;
}

/*Footer*/

footer{
    width: 100%;
    height: 100px;
    background-color: #212121;
    display: flex;
    align-items: center;
}

.container-footer img{
    width: 70px;
    height: 70px;
}

.container-footer span{
    color: #e6e6e6;
}

.container-footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.logo-nome{
    display: flex;
    align-items: center;
}

.container-footer a{
    text-decoration: none;
    color: #fff;
}