*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* main */

/* parte esquerda */

main {
    display: flex;
    font-size: 18px;
}


.section-form{
    width: 50vw;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}

label{
    display: block;
    margin-top: 20px;
}

#form-cadastro-quarto{
    width: 45vw;
    padding: 20px 30px;
}

#form-cadastro-quarto>input{
    display: block;
    margin-bottom: 8px;
    padding: 10px 5px;
    outline: none;
    border-radius: 10px;
    border: 1px black solid;
}

#tipos-quartos{
    display: block;
    margin-bottom: 8px;
    padding: 10px 5px;
    outline: none;
    border-radius: 10px;
    border: 1px black solid;
}

#input-nome{
    width: 75%;
}

#input-numero{
    width: 10%;
}

#input-cep{
    width: 35%;
}


#btn-cadastro, #btn-cancelar{
    width: 11vw;
    background-color: #931112;
    padding: 16px 0px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 8px;
    letter-spacing: 3px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 30px 40px 5px 70px;
    border: none;
}

/* parte direita */ 

.section-image{
    width: 50vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    height: 100vh;
}

.div-image{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 75%;
    align-items: center;
}

.div-image>img{
    width: 250px;
}


.links-cadastro{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-bottom: 15px;
}


.links-a>a{
    margin: 0px 20px;
    color: #ffffff;
    text-decoration: none;;
}