*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #212121;
    align-items: center;
    justify-content: center;
}


#imagem-header{
    width: 140px;
    height: 140px;
    justify-content: center;
    align-items: center;
}

.navegacao ul{
    display: flex;

}

.navegacao li {
    margin: 10px 25px;
    font-size: 20px;
}

.navegacao a{
    color: white;
    text-decoration: none;
}

/* main */
main {
    width: 100%;
    padding: 20px 0;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #e6e6e6;

}

.section-form{
    /* width: 50vw; */
    /* align-items: center; */
    /* display: flex; */
    /* justify-content: center; */
    height: 100%;
    width: 50vw;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #212121;
    border-radius: 10px;
    color: #e6e6e6;
    padding: 20px 30px;
}

label{
    display: block;
}

#form-cadastro-cliente{
    width: 45vw;
    padding: 20px 30px;
}

#form-cadastro-cliente>input, #form-cadastro-cliente>select{

    /* margin-bottom: 8px; */
    /* padding: 5px; */
    /* border-radius: 10px; */
    /* border: 1px black solid; */

    margin-bottom: 8px;
    padding: 10px 5px;
    outline: none;
    border-radius: 10px;
    border: 1px black solid;
    text-align: center;
}

#input-nome{
    width: 75%;
}


#input-cpf{
    width: 35%;
}

.input-sexo{
    width: 25%;
}

#input-nasc{
    width: 35%;
}

#input-cid{
    width: 50%;
}

#input-rua{
    width: 50%;
}

#input-numero{
    width: 15%;
}

#input-cep{
    width: 35%;
}

#input-telefone{
    width: 35%;
}

#botoes-cliente{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.btn-cadastro{
    width: 45%;
    background-color: #931112;
    padding: 16px 0px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 8px;
    letter-spacing: 3px;
    font-weight: 800;
    text-transform: uppercase;
    border: none;
}
.btn-cancelar{
    width: 11vw;
    background-color: #931112;
    padding: 16px 0px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 8px;
    letter-spacing: 3px;
    font-weight: 800;
    text-transform: uppercase;
    border: none;
}


.section-image{
    width: 50vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    height: 100vh;
}

.div-image{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 75%;
    align-items: center;
}

.div-image>img{
    width: 250px;
}


.links-cadastro{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-bottom: 15px;
}


.links-a>a{
    margin: 0px 20px;
    color: #ffffff;
    text-decoration: none;;
}

/* Footer */

footer{
    width: 100%;
    height: 100px;
    background-color: #212121;
    display: flex;
    align-items: center;
}

.container-footer img{
    width: 70px;
    height: 70px;
}

.container-footer span{
    color: #e6e6e6;
}

.container-footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.logo-nome{
    display: flex;
    align-items: center;
}

.container-footer a{
    text-decoration: none;
    color: #fff;
}