*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* main */

/* parte esquerda */

main {
    box-sizing: border-box;
}

form{
    width: 30%;
    height: 8%;
    display: flex;
}

#pesq{
    display: block;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px #a8a8a8 solid;
    width: 70%;
    font-size: 12pt;

}

#btn{
    width: 30%;
    background-color: #931112;
    padding: 8px 10px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 8px;
    letter-spacing: 3px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 10px;
    border: none;
}