header {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
}

.container-header{
    display: flex;
    align-items: center;
    margin: auto;
    width: 60%;
    justify-content: space-between;
}

#imagem-header{
    width: 140px;
    height: 140px;
}

#btnBuscar img{
    width: 13px;
    height: 13px;
}


.titulo-header{
    display: block;
    font-size: 30px;
    color: white;
}

.navegacao ul{
    display: flex;
}

.navegacao li {
    margin: 10px 25px;
    font-size: 20px;
}

.navegacao a{
    color: white;
    text-decoration: none;
}

/* main */
main {
    background-image: url('../img/fundo2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding: 20px 0;
}

.titulo-suite{
    font-size: 35px;
    text-align: center;
    margin: 20px auto;
}

.carrosel{
    margin: 0 auto;
    width: 1100px;
    height: 550px;
    overflow: hidden;
}

.suites{
    width: 400%;
    height: 550px;
    display: flex;
}

.suites input{
    display: none;
}

.suite{
    width: 25%;
    position: relative;
    transition: 1s;
}

.suites img {
    width: 1100px;
    height: 550px;
}

.navegacao-manual{
    position: absolute;
    width: 1100px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0%;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}


#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navegacao-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navegacao-auto{
    position: absolute;
    width: 1100px;
    margin-top: 510px;
    display: flex;
    justify-content: center;
}

.navegacao-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~.navegacao-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~.navegacao-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~.navegacao-auto .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~.navegacao-auto .auto-btn4{
    background-color: #fff;
}

.container-sobre{
    width: 80%;
    margin: 100px auto;
}

.container-sobre h2{
    font-size: 35px;
    text-align: center;
    margin: 30px auto;
}

.container-sobre p{
    font-size: 20px;
}

/* footer */ 

footer{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
}

.container-footer img{
    width: 70px;
    height: 70px;
}

.container-footer span{
    color: #fff;
}

.container-footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.logo-nome{
    display: flex;
    align-items: center;
}

.container-footer a{
    text-decoration: none;
    color: #fff;
}