*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
}


#imagem-header{
    width: 140px;
    height: 140px;
    justify-content: center;
    align-items: center;
}

.navegacao ul{
    display: flex;

}

.navegacao li {
    margin: 10px 25px;
    font-size: 20px;
}

.navegacao a{
    color: white;
    text-decoration: none;
}

/* main */
main {
    width: 100%;
    padding: 20px 0;
    height: 700px;
    display: flex;
    justify-content: center;

}

#home{
    background-color: black;
}

.titulo-suite{
    font-size: 35px;
    text-align: center;
    margin: 20px auto;
}

.suites{
    width: 400%;
    height: 550px;
    display: flex;
}

footer{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
}

.container-footer img{
    width: 70px;
    height: 70px;
}

.container-footer span{
    color: #fff;
}

.container-footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.logo-nome{
    display: flex;
    align-items: center;
}

.container-footer a{
    text-decoration: none;
    color: #fff;
}