*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #212121;
    align-items: center;
    justify-content: center;
}


#imagem-header{
    width: 140px;
    height: 140px;
    justify-content: center;
    align-items: center;
}

.navegacao ul{
    display: flex;

}

.navegacao li {
    margin: 10px 25px;
    font-size: 20px;
}

.navegacao a{
    color: #e6e6e6;
    text-decoration: none;
}

/* Main */
main {
    width: 100%;
    padding: 20px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6e6e6;

}

.section-form{
    border: 1px #c9c9c9 solid;
    margin: 10px;
    /* width: 30%; */
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;

    width: 50vw;
    /* align-items: center; */
    /* display: flex; */
    /* justify-content: center; */
    height: 80%;
    background-color: #212121;
    color: #e6e6e6;

    padding: 20px 30px;;
}


p{
    font-size: 25px;
    margin: 8px;
    font-weight: bold;
}

form{
    margin: 10px;
}

.form-pagamento>input{
    margin-bottom: 8px;
    padding: 10px 5px;
    outline: none;
    border-radius: 10px;
    border: 1px black solid;
    text-align: center;
}


label{
    display: block;
    margin-top: 20px;
}

#pagamento>select{
    margin: 15px 10px 0px 10px;
    border: 1px #a8a8a8 solid;
}


#input-suite{
    width: 75%;
}

#input-categoria{
    width: 69%;
}

#input-entrada, #input-saida{
    width: 30%;
}

#input-qtdpessoas{
    width: 15%;
}

#input-permanencia{
    width: 30%;
}

#input-consumo, #input-adiantamento{
    width: 20%;
}

.btn-pag{
    width: 45%;
    background-color: #931112;
    padding: 16px 0px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 8px;
    letter-spacing: 3px;
    font-weight: 800;
    text-transform: uppercase;
    border: none;
    margin: 20px;
    
}


/* Footer */

footer{
    width: 100%;
    height: 100px;
    background-color: #212121;
    display: flex;
    align-items: center;
}

.container-footer img{
    width: 70px;
    height: 70px;
}

.container-footer span{
    color: #e6e6e6;
}

.container-footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.logo-nome{
    display: flex;
    align-items: center;
}

.container-footer a{
    text-decoration: none;
    color: #fff;
}


.tppagamento{
    width: 150px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
}