*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
}

#quartos{
    margin-top: 50px;
    width: 95vw;
    border: black solid 1px;
    padding: 5px;
    text-align: center;
}


.input{
    margin: 10px;
    border: black solid 1px;
}


#imagem-header{
    width: 140px;
    height: 140px;
    justify-content: center;
    align-items: center;
}

.navegacao ul{
    display: flex;

}

.navegacao li {
    margin: 10px 25px;
    font-size: 20px;
}

.navegacao a{
    color: white;
    text-decoration: none;
}

/* Main */
main {
    width: 100%;
    padding: 20px 0;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


form{
    width: 30%;
    height: 8%;
    display: flex;
}

#pesq{
    display: block;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 1px #a8a8a8 solid;
    width: 70%;
    font-size: 12pt;

}

#btn{
    width: 10vw;
    background-color: #931112;
    padding: 8px 10px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 8px;
    letter-spacing: 3px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 10px;
    border: none;
}

/* Footer */

footer{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
}

.container-footer img{
    width: 70px;
    height: 70px;
}

.container-footer span{
    color: #fff;
}

.container-footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.logo-nome{
    display: flex;
    align-items: center;
}

.container-footer a{
    text-decoration: none;
    color: #fff;
}